.form {
  width: 50%;
  padding: 20px;
  border: 1px solid green;
  h3 {
    text-align: center;
    margin: 0;
  }
  label {
    display: block;
    margin: 8px 0 5px 0;
  }
  input {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 15px;
  }
}
