.container {
  width: 1200px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  border: 1px solid blue;
  &-left {
    width: 50%;
    border: 1px solid green;
    .display-container {
      height: 180px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px solid orange;
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
