.item {
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid orangered;

  h3 {
    text-align: center;
    text-transform: capitalize;
    margin: 0;
  }
  .data-container {
    display: inherit;
    justify-content: space-between;
    p {
      text-transform: capitalize;
      margin: 0;
    }
  }
  .item-btns {
    display: inherit;
    justify-content: space-between;
    button {
      border: none;
      width: 45%;
      color: #fff;
      border-radius: 3px;
      padding: 4px 0;
      cursor: pointer;
    }
    .btn-delete {
      background: #f54141;
      &:hover {
        background: #c93434;
      }
    }
    .btn-edit {
      background: #2eb951;
      &:hover {
        background: #208d3b;
      }
    }
  }
}
