.nav {
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.129);
  &-wrapper {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto;
    h1 {
      margin: 0;
      &:hover {
        font-weight: bolder;
      }
    }
    ul {
      width: 180px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      text-decoration: none;
      color: #2c2c2c;
      &:hover {
        font-weight: 600;
      }
    }
  }
}
